@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
  outline: 3px solid white;
}

@media (prefers-reduced-motion) {
  *,
  *::before,
  *::after {
    transition-duration: 750ms !important;
  }
}

.navbar {
  @apply relative flex flex-row items-center justify-between pt-4 font-outfit text-xl font-bold;
}

.navbar > div {
  @apply uppercase;
}

.hamburger-button {
  @apply grid grid-cols-[auto,30px] items-center gap-4 p-1
         md:hidden;
}

.hamburger-button > div {
  --gap: 6px;

  @apply grid w-full grid-cols-1 grid-rows-3;

  gap: var(--gap);
}

.hamburger-button .bar {
  --height: 4px;
  --translate: calc(var(--gap) + var(--height));
  --rotate: 405deg;

  @apply rounded-sm bg-white transition-transform;

  height: var(--height);
}

.hamburger-button.open .bar1 {
  transform: translateY(var(--translate)) rotate(var(--rotate));
}

.hamburger-button.open .bar2 {
  transform: rotateY(90deg);
}

.hamburger-button.open .bar3 {
  transform: translateY(calc(-1 * var(--translate)))
    rotate(calc(-1 * var(--rotate)));
}

.hamburger-menu {
  @apply absolute left-0 top-full mt-4 flex w-full flex-col items-center justify-center bg-midnightBlue capitalize
         md:static md:w-1/2 md:flex-row md:justify-between md:p-0 md:lowercase;
}

.hamburger-menu li {
  @apply flex h-0 w-full items-center justify-center overflow-hidden transition-[height]
         md:h-auto md:w-auto;
}

.hamburger-menu.open li,
.hamburger-menu:focus-within li {
  @apply h-[2em] border-x border-b;
}

.hamburger-menu.open li:first-child,
.hamburger-menu:focus-within li:first-child {
  @apply border-t;
}
